<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ossjk.asset.system.mapper.OrganizationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.ossjk.asset.system.entity.Organization">
		<id column="id" property="id" />
		<result column="pid" property="pid" />
		<result column="name" property="name" />
		<result column="remarks" property="remarks" />
		<result column="sort" property="sort" />
		<result column="level" property="level" />
		<result column="crtm" property="crtm" />
		<result column="mdtm" property="mdtm" />
	</resultMap>
	<select id="selectOrg"
		resultType="com.ossjk.asset.system.vo.OrganizationVo">
		SELECT
			b.`name` as upname,
			a.*
		FROM
			organization a,
			organization b
		WHERE
			a.pid = b.id
		${ew.sqlSegment}
	</select>
</mapper>
