<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ossjk.asset.system.mapper.Role_permissionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ossjk.asset.system.entity.Role_permission">
		<id column="id" property="id" />
		<result column="rid" property="rid" />
		<result column="pid" property="pid" />
	</resultMap>
	<select id="SelectRole_permissionCid" resultType="java.lang.String">
	SELECT
		pid
	FROM
		role_permission 
	${ew.sqlSegment}
	</select>
</mapper>
